* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
}


/* ENTRADA */

.entrada {
    position: fixed;
    inset: 0;

    background:
        radial-gradient(circle at center, #2b0808 0%, #080808 65%);

    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;

    transition: 1s ease;
}

.entrada.saindo {
    opacity: 0;
    visibility: hidden;
}

.entrada-conteudo {
    text-align: center;
}

.mini-titulo {
    color: #d32f2f;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.entrada h1 {
    font-family: "Metal Mania", cursive;
    font-size: clamp(80px, 15vw, 180px);
    color: #d32f2f;
    line-height: .8;

    text-shadow:
        5px 5px 0 #000,
        0 0 40px #d32f2f;
}

.entrada h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: clamp(40px, 8vw, 90px);
    letter-spacing: 15px;
}

.frase {
    margin: 30px 0;
    color: #aaa;
    line-height: 1.8;
}

#entrar {
    border: 1px solid #d32f2f;
    background: transparent;
    color: white;

    padding: 16px 35px;

    font-family: "Bebas Neue";
    font-size: 20px;
    letter-spacing: 2px;

    cursor: pointer;

    transition: .3s;
}

#entrar:hover {
    background: #d32f2f;
    transform: scale(1.08);
}


/* SITE */

#site {
    display: block;
}


/* HEADER */

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 25px 8%;

    position: absolute;
    top: 0;

    z-index: 10;
}

.logo {
    text-decoration: none;

    color: white;

    font-family: "Metal Mania";
    font-size: 30px;
}

nav {
    display: flex;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #aaa;

    font-size: 13px;
    font-weight: 700;

    transition: .3s;
}

nav a:hover {
    color: #d32f2f;
}

#controle-musica {
    background: transparent;
    border: 1px solid #444;

    color: white;

    width: 40px;
    height: 40px;

    cursor: pointer;
}


/* HERO */

.hero {
    min-height: 100vh;

    display: flex;
    align-items: center;

    padding: 100px 8% 50px;

    position: relative;

    background:
        radial-gradient(circle at 75% 50%, #300909, transparent 30%),
        #080808;
}

.hero-texto {
    width: 55%;
    z-index: 2;
}

.tag {
    color: #d32f2f;
    letter-spacing: 3px;
    font-size: 12px;

    margin-bottom: 20px;
}

.hero h1 {
    font-family: "Bebas Neue";
    font-size: clamp(90px, 13vw, 190px);

    line-height: .75;
}

.hero h1 span {
    display: block;

    color: #d32f2f;

    font-family: "Metal Mania";

    font-size: .6em;
}

.descricao-principal {
    color: #aaa;

    max-width: 600px;

    margin: 40px 0;

    line-height: 1.8;
}

.botao {
    display: inline-block;

    text-decoration: none;

    background: #d32f2f;
    color: white;

    padding: 16px 30px;

    font-weight: bold;
    font-size: 12px;

    transition: .3s;
}

.botao:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px #000;
}


/* IMAGEM */

.hero-imagem {
    height: 600px;
    position: relative;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-imagem img {
    height: 100%;

    border-radius: 50%;
    max-width: 100%;

    object-fit: contain;

    position: relative;

    z-index: 2;

    filter: drop-shadow(0 0 30px #000);
}

.circulo {
    position: absolute;
    height: 600px;

    border-radius: 50%;

    border: 1px solid #d32f2f;

    z-index: 1;
}


/* SEÇÕES */

section:not(.entrada):not(.hero) {
    padding: 120px 8%;
}

.titulo-secao {
    margin-bottom: 60px;
}

.titulo-secao p {
    color: #d32f2f;

    font-family: "Bebas Neue";

    font-size: 30px;
}

.titulo-secao h2 {
    font-family: "Bebas Neue";

    font-size: clamp(50px, 7vw, 100px);

    line-height: .9;
}

.titulo-secao span {
    color: #d32f2f;
}


/* CARDS */

.cards-info {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 20px;

    margin-bottom: 100px;
}

.card {
    border: 1px solid #252525;

    padding: 35px 25px;

    transition: .3s;

    background: #0d0d0d;
}

.card:hover {
    border-color: #d32f2f;

    transform: translateY(-10px);
}

.card span {
    font-size: 25px;
}

.card h3 {
    font-family: "Bebas Neue";

    letter-spacing: 2px;

    margin: 20px 0 10px;

    font-size: 22px;
}

.card p {
    color: #aaa;

    font-size: 13px;

    line-height: 1.6;
}


/* DESCRIÇÃO */

.descricao-kylie {
    display: grid;

    grid-template-columns: 1.3fr .7fr;

    gap: 80px;
}

.texto h2 {
    font-family: "Bebas Neue";

    font-size: clamp(50px, 6vw, 90px);

    line-height: .85;

    margin-bottom: 30px;
}

.texto h2 span {
    color: #d32f2f;
}

.texto p {
    color: #aaa;

    line-height: 1.9;

    margin-bottom: 20px;
}

.detalhes {
    border-left: 1px solid #333;

    padding-left: 40px;
}

.detalhes div {
    margin-bottom: 35px;
}

.detalhes span {
    display: block;

    color: #666;

    font-size: 11px;

    letter-spacing: 2px;

    margin-bottom: 8px;
}

.detalhes strong {
    font-family: "Bebas Neue";

    font-size: 30px;

    letter-spacing: 1px;
}


/* STATUS */

.status {
    background: #0d0d0d;
}

.status-container {
    max-width: 900px;
}

.barra-status {
    margin-bottom: 60px;
}

.status-topo {
    display: flex;

    justify-content: space-between;

    margin-bottom: 15px;

    font-family: "Bebas Neue";

    font-size: 22px;
}

.status-topo strong {
    color: #d32f2f;
}

.barra {
    height: 12px;

    background: #222;
}

.progresso {
    height: 100%;

    background: #d32f2f;

    width: 0;

    transition: 2s ease;
}

.progresso.animar {
    width: 100%;
}

.atributos {
    display: flex;

    flex-direction: column;

    gap: 25px;
}

.atributo {
    display: grid;

    grid-template-columns: 150px 1fr 40px;

    align-items: center;

    gap: 20px;
}

.atributo span {
    font-family: "Bebas Neue";

    font-size: 20px;

    letter-spacing: 1px;
}

.pontos {
    display: flex;

    gap: 10px;
}

.pontos i {
    width: 100%;
    height: 8px;

    background: #252525;
}

.pontos i.ativo {
    background: #d32f2f;
}

.atributo strong {
    color: #aaa;
}


/* PERSONALIDADE */

.personalidade-grid {
    display: grid;

    grid-template-columns: repeat(3, 1fr);

    gap: 20px;
}

.personalidade-card {
    background: #101010;

    border: 1px solid #222;

    padding: 40px;

    min-height: 260px;

    transition: .4s;
}

.personalidade-card:hover {
    transform: scale(1.03);

    border-color: #d32f2f;
}

.personalidade-card.grande {
    grid-column: span 2;
}

.personalidade-card.fogo {
    background:
        linear-gradient(135deg, #180000, #0d0d0d);
}

.personalidade-card span {
    font-size: 40px;
}

.personalidade-card h3 {
    font-family: "Bebas Neue";

    font-size: 30px;

    margin: 25px 0 10px;
}

.personalidade-card p {
    color: #888;

    line-height: 1.7;
}


/* PLAYLIST */

.gostos {
    background: #080808;
}

.playlist {
    border-top: 1px solid #333;
}

.musica {
    display: grid;

    grid-template-columns: 80px 1fr 1fr;

    align-items: center;

    padding: 30px 10px;

    border-bottom: 1px solid #222;

    transition: .3s;
}

.musica:hover {
    padding-left: 30px;

    background: #111;
}

.musica span {
    color: #d32f2f;

    font-family: "Bebas Neue";

    font-size: 25px;
}

.musica h3 {
    font-family: "Bebas Neue";

    font-size: 28px;
}

.musica p {
    color: #777;
}

.gosta-nao-gosta {
    display: grid;

    grid-template-columns: 1fr 1fr;

    gap: 30px;

    margin-top: 80px;
}

.gosta,
.nao-gosta {
    padding: 40px;

    border: 1px solid #252525;
}

.gosta h3,
.nao-gosta h3 {
    font-family: "Bebas Neue";

    font-size: 30px;

    margin-bottom: 15px;
}

.gosta h3 {
    color: #d32f2f;
}

.nao-gosta h3 {
    color: #888;
}

.gosta p,
.nao-gosta p {
    color: #aaa;

    line-height: 1.8;
}


/* FINAL */

.final {
    min-height: 80vh;

    position: relative;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    text-align: center;

    overflow: hidden;

    background:
        radial-gradient(circle, #3a0909, #080808 65%);
}

.final h2 {
    font-family: "Bebas Neue";

    font-size: clamp(70px, 10vw, 150px);

    line-height: .8;

    position: relative;

    z-index: 2;
}

.final h2 span {
    color: #d32f2f;
}

.final p {
    color: #aaa;

    margin: 30px 0;
}

#topo {
    padding: 15px 30px;

    background: transparent;

    border: 1px solid #d32f2f;

    color: white;

    cursor: pointer;

    font-family: "Bebas Neue";

    font-size: 18px;

    letter-spacing: 2px;
}

.disco {
    position: absolute;

    width: 300px;
    height: 300px;

    border-radius: 50%;

    background:
        radial-gradient(circle,
            #d32f2f 0 5%,
            #111 6% 15%,
            #050505 16%);

    border: 10px solid #111;

    opacity: .4;
}

.disco1 {
    left: -100px;
    bottom: -100px;

    transform: rotate(30deg);
}

.disco2 {
    right: -100px;
    top: -100px;
}


/* FOOTER */

footer {
    padding: 40px 8%;

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: #050505;

    border-top: 1px solid #222;
}

footer p {
    font-family: "Metal Mania";

    color: #d32f2f;
}

footer span {
    color: #555;

    font-size: 10px;

    letter-spacing: 3px;
}


/* RESPONSIVO */

@media (max-width: 900px) {

    nav {
        display: none;
    }

    .hero {
        flex-direction: column;

        text-align: center;
    }

    .hero-texto,
    .hero-imagem {
        width: 100%;
    }

    .hero-imagem {
        height: 500px;
    }

    .cards-info {
        grid-template-columns: repeat(2, 1fr);
    }

    .descricao-kylie {
        grid-template-columns: 1fr;
    }

    .detalhes {
        border-left: none;

        border-top: 1px solid #333;

        padding: 40px 0 0;
    }

    .personalidade-grid {
        grid-template-columns: 1fr;
    }

    .personalidade-card.grande {
        grid-column: span 1;
    }

}


@media (max-width: 600px) {

    section:not(.entrada):not(.hero) {
        padding: 80px 6%;
    }

    header {
        padding: 20px 6%;
    }

    .cards-info {
        grid-template-columns: 1fr;
    }

    .atributo {
        grid-template-columns: 100px 1fr 25px;

        gap: 10px;
    }

    .musica {
        grid-template-columns: 40px 1fr;

        gap: 10px;
    }

    .musica p {
        grid-column: 2;
    }

    .gosta-nao-gosta {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;

        gap: 15px;

        text-align: center;
    }

}

/* LINHA DO TEMPO */

.timeline {
    background:
        linear-gradient(180deg,
            #080808,
            #120404,
            #080808);
}

.nascimento {
    max-width: 900px;

    margin: 0 auto 100px;

    padding: 40px;

    border: 1px solid #292929;

    background: #0d0d0d;

    position: relative;

    box-shadow:
        10px 10px 0 #1a0505;
}

.nascimento::before {
    content: "";

    position: absolute;

    top: 0;
    left: 0;

    width: 5px;
    height: 100%;

    background: #d32f2f;
}

.nascimento-titulo {
    display: flex;

    align-items: center;

    gap: 15px;

    margin-bottom: 20px;
}

.nascimento-titulo span {
    color: #d32f2f;

    font-size: 25px;
}

.nascimento-titulo h3 {
    font-family: "Bebas Neue";

    font-size: 30px;

    letter-spacing: 2px;
}

.nascimento p {
    color: #999;

    line-height: 1.9;

    font-size: 15px;
}

.nascimento strong {
    color: white;
}


/* TIMELINE */

.timeline-container {
    max-width: 1000px;

    margin: auto;

    position: relative;

    padding: 30px 0;
}

.timeline-container::before {
    content: "";

    position: absolute;

    left: 50%;

    top: 0;
    bottom: 0;

    width: 2px;

    background: #d32f2f;

    transform: translateX(-50%);
}


.timeline-item {
    display: grid;

    grid-template-columns: 1fr 60px 1fr;

    align-items: center;

    min-height: 180px;

    position: relative;
}


.timeline-data {
    font-family: "Bebas Neue";

    color: #d32f2f;

    font-size: 28px;

    letter-spacing: 1px;

    text-align: right;

    padding-right: 35px;
}


.timeline-ponto {
    width: 18px;
    height: 18px;

    background: #d32f2f;

    border: 4px solid #080808;

    border-radius: 50%;

    justify-self: center;

    z-index: 2;

    box-shadow:
        0 0 0 2px #d32f2f,
        0 0 20px #d32f2f;
}


.timeline-conteudo {
    margin-left: 35px;

    padding: 25px;

    background: #0d0d0d;

    border: 1px solid #252525;

    transition: .3s;
}

.timeline-conteudo:hover {
    transform: translateX(8px);

    border-color: #d32f2f;

    background: #120606;
}


.timeline-conteudo h3 {
    font-family: "Bebas Neue";

    font-size: 28px;

    margin-bottom: 10px;
}


.timeline-conteudo p {
    color: #888;

    line-height: 1.7;

    font-size: 13px;
}


.timeline-conteudo strong {
    color: #d32f2f;
}


/* ITENS ALTERNADOS */

.timeline-item:nth-child(even) .timeline-data {
    order: 3;

    text-align: left;

    padding-right: 0;

    padding-left: 35px;
}

.timeline-item:nth-child(even) .timeline-ponto {
    order: 2;
}

.timeline-item:nth-child(even) .timeline-conteudo {
    order: 1;

    margin-left: 0;

    margin-right: 35px;

    text-align: right;
}

.timeline-item:nth-child(even) .timeline-conteudo:hover {
    transform: translateX(-8px);
}


/* MOBILE */

@media (max-width: 700px) {

    .nascimento {
        padding: 30px 25px;
    }

    .timeline-container {
        padding-left: 25px;
    }

    .timeline-container::before {
        left: 25px;

        transform: none;
    }

    .timeline-item {
        display: grid;

        grid-template-columns: 35px 1fr;

        min-height: auto;

        margin-bottom: 40px;
    }

    .timeline-data {
        grid-column: 2;

        grid-row: 1;

        text-align: left;

        padding: 0;

        margin-bottom: 10px;

        font-size: 23px;
    }

    .timeline-ponto {
        grid-column: 1;

        grid-row: 1 / span 2;

        align-self: center;
    }

    .timeline-conteudo {
        grid-column: 2;

        grid-row: 2;

        margin: 0;

        text-align: left;
    }

    .timeline-item:nth-child(even) .timeline-data {
        order: initial;

        text-align: left;

        padding: 0;
    }

    .timeline-item:nth-child(even) .timeline-ponto {
        order: initial;
    }

    .timeline-item:nth-child(even) .timeline-conteudo {
        order: initial;

        margin: 0;

        text-align: left;
    }

    .timeline-item:nth-child(even) .timeline-conteudo:hover,
    .timeline-conteudo:hover {
        transform: translateX(5px);
    }

}